
{% extends "header.html" %}

{% block content %}
<br>

  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
		<form method="POST" class="form-group ">
          {% csrf_token %}
          {{ formA.as_p }}
          <input type="submit" class="btn btn-success" name="" value="Register">
        </form>
        
      {% endif %}
      <pre>You Already User <a class="btn btn-dark" href="/auth/login/">login</a></pre>
    </div>
  </div>

{% endblock %}





<!-- <!DOCTYPE html>
<html>
<head>
	<title>R</title>
</head>
<body>

	<form method="POST">
		{% csrf_token %}
		{{formA.as_p}}

		<button type="submit">Register</button>
	</form>
</body>
</html> -->