{% extends 'header.html' %}

{% block content %}
<br>

<div class="container">
<div class="jumbotron">
	<h1>Hello...{{ user.username }}</h1>
<form method="POST" action="/auth/logout/">
		{% csrf_token %}
		<input type="submit" value="logout">
	</form>
</div>
</div>
{% endblock %}        



<!-- <!DOCTYPE html>
<html>
<head>
	<title>success</title>
</head>
<body>
	<h1>User {{user.username}} is logged in Successfully.</h1>
	
	
	<form method="POST" action="/logout/">
		{% csrf_token %}
		<input type="submit" value="logout">
	</form>
</body>
</html> -->