{% extends "header.html" %}

{% load static %}

{% block content %}
<br><br>

<div class="container">
	<div class="row">
	{% for w in worker %}
		<div class="card" style="width:420px; margin:30px">
		<div class="row">
  <div class="col-sm-6">
    <img class="card-img img-responsive clearfix" style="height:200px" src="{{ w.img }}" alt="Card image"/>
  </div>
  <div class="col-sm-6">
    <div class="card-body-right clearfix" style="margin:3px">
      <h4 class="card-title">{{w.name}}</h4>
      <div class="card-text" style="list-style-type:none">
      	<li>City : {{w.city}}</li>
      
        <li>{{ w.category }}</li>
      <br>
      More Info:-<a href="{% url 'detail' w.id %}" class="btn btn-primary pull-right">See Profile</a>
  </div>
    </div>
     </div>
  </div> 
  </div>
		{% endfor %}
	</div>
</div>
	
{% endblock %}